/* Application wide styles */

#paneMain {
    -fx-background-color: linear-gradient(E6E6E6 50%, C6C6C6 100%);
}

#listView {
    -fx-border-color:turquoise;
    -fx-border-width:1px;
}

#listView:focused .list-cell:filled:focused:selected {
    -fx-background-color: turquoise;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#txtFieldSearch {
    -fx-border-color: turquoise;
    -fx-highlight-fill: turquoise;
}

#lblWelcome {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: linear-gradient(turquoise 100%, white 10%);
    -fx-text-alignment: center;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#lblStatus {

}

#btnSearch {
    -fx-background-color: turquoise;
    -fx-background-radius: 20px;
    -fx-text-fill: white;

}

#horizontalBar .line{
    -fx-background-color: turquoise;
    -fx-border-color: turquoise;
}

